# Python
__pycache__/
*.py[cod]
.pytest_cache/

# Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Data
data/*
!data/consolidated_traffic_data.csv

# Trained models
models/

# MLflow
mlruns/
mlflow.db

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db